html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body
{
	font-family: SourceSansPro;	
}
.header
{
	height: 50px;
	background: #444444;	
}

.container
{
	width: 940px;
	margin: 0px auto;
	
}

.headerMenuLogo
{
		margin-right: 55px;
		float: left;
}


li
{
		float: left;
}

ul li a 
{
   
    
    padding-right: 26px;
    padding-left: 26px;
    color: #aaaaaa;
    padding-top: 10px;
    line-height: 30px;
   
}

a
{
	text-decoration: none;	
	float: left;
	padding-top: 10px;
	font-size: 18px;
	font-weight: bold;
}



.liClear
{
	clear: both;
	float: none;	
}



.pattern
{
	height:485px;
	background-image: url('../images/bluePattern.jpg');
	background-repeat: repeat;
		
}

.patternContainerLeft
{
	width: 50%;
	/*background-color: yellow;*/
	float: left;
}

.patternContainerRight
{	
	float: left;
	width: 50%;
	/*background-color: red;*/
}

h1
{
		
		font-size: 48px;
		font-weight: bold;
		padding-top: 190px;
		color:#FFFFFF;
}

h2
{
		
		font-size: 36px;
		padding-top: 12px;
		color:#FFFFFF;
}

.buttons
{
	width: 420px;
	margin-top: 46px;
	height: 60px;
	//background: #FFFFFF;	
}

.button1
{
	float: left;
	width: 170px;
	height:40px;
  background-color: #f2f2f2;
  color:#000000;
  text-decoration:none;	
  border-radius:3px;
  font-size: 19px;
  font-weight: bold;
 
    
  display: block;
  
  	text-align: center;
  padding-top: 10px;
}

.button2
{
	float: left;
	width: 170px;
	height:40px;
  background-color: #ff9900;
  color:#FFFFFF;
  text-decoration:none;	
  border-radius:3px;
  font-size: 19px;
  font-weight: bold;
 
  margin-left: 20px;
 
 text-align: center;
  padding-top: 10px;
  display: block;
}

.patternContainerRight
{
	padding-top: 50px;	
}



.content
{
	height:505px;
	/*background-color: red;	*/
}


  
  .how
  {
  		
  		 font-size: 36px;
  		//text-align: center;	
  		margin-top: 50px;
  		//padding-bottom: 70px;

  }
  
  .circleContainer
  {
  			padding-top: 70px;
  			//background-color: yellow;
  }
  
  .drawCircle
  {
  		width: 140px;
  		height: 140px;
  		border-radius:100%;
  		background: #efefef;	
  		float: left;
  		margin-left: 70px;
  }
  
  .circleMenu
  {
  		padding-left: 20px;	
  		padding-top: 40px;
  }
  
  .footer
  {
  		height: 160px;
  		background: #ececec;	
  }
  
  .text1
  {
  		padding-top: 160px;	
  		font-size: 18px;
  		line-height: 22px;
  		color: #888888;
  		text-align: center;
  }
  
  .footerMenu
  {
  			padding-top: 30px;
  }
  
  .footerHome 
  {
		font-size: 16px;
		font-weight: bold;  
		color: #444444;
		margin-right: 10px;
		line-height: 30px;
		float: left;
			
  	}
  	
  	.footerText 
  {
		font-size: 16px;
		font-weight: bold;  	
		color: #FF8000;
		margin-right: 10px;	
		line-height: 30px;
		float: left;
  	}
  	
  	.social
  	{
  			float: right;	
  			//margin-left: 30px;
  	}
  	
  	.social a
  	{
  		margin-right: 20px;	
  
  	}
  	
  	.copyright
{
	padding-top: 50px;
	font-size: 16px;
	color: #aaaaaa;
	//float: left;
	
}

.clear
{
	clear:both;	
	float: none;
}

.terms
{
	margin-left: 30px;
	float: left;	
	padding-top: 50px;
}
  
    